##
# removing outdated PupilPro app
/PupilPro

##
# for video 
*.avi
*.asf
*.mov
*.mp4

## 
# linux distro
*.deb

## 
# lsl external libraries to ignore all the time
QtCore4.dll
QtGui4.dll
QtNetwork4.dll
QtNetworkd4.dll
QtCored4.dll
QtGuid4.dll
BAlert.dll
BAlert.lib
ActiChamp_x86.dll
ActiChamp_x86.lib
ActiChamp_x64.dll
ActiChamp_x64.lib
FirstAmp32.dll
FilterButterworth64D.lib
FilterButterworth64R.lib
alleg44.dll
alleg44.lib
cvWrapper.dll
cvWrapper.lib
msvcp100.dll
msvcr100.dll
opencv_calib3d243.dll
opencv_calib3d243d.dll
opencv_contrib243.dll
opencv_contrib243d.dll
opencv_core243.dll
opencv_core243d.dll
opencv_features2d243.dll
opencv_features2d243d.dll
opencv_ffmpeg243.dll
opencv_flann243.dll
opencv_flann243d.dll
opencv_gpu243.dll
opencv_gpu243d.dll
opencv_highgui243.dll
opencv_highgui243d.dll
opencv_imgproc243.dll
opencv_imgproc243d.dll
opencv_legacy243.dll
opencv_legacy243d.dll
opencv_ml243.dll
opencv_ml243d.dll
opencv_nonfree243.dll
opencv_nonfree243d.dll
opencv_objdetect243.dll
opencv_objdetect243d.dll
opencv_photo243.dll
opencv_photo243d.dll
opencv_stitching243.dll
opencv_stitching243d.dll
opencv_ts243.dll
opencv_ts243d.dll
opencv_video243.dll
opencv_video243d.dll
opencv_videostab243.dll
opencv_videostab243d.dll
pau.bmp
pau-gr.bmp
rec.bmp
rec-gr.bmp
pTVidGrab.lib
EnobioDLL.lib
EnobioDLL.dll
g.HIamp.lib
gUSBamp.dll
Microsoft.Kinect.dll
mosquitto.dll
mosquittopp.dll
pthreadVC.dll
NSDevice.dll
NSDevice.lib
NatNetLib.lib
NatNetLib.dll
libowlsock.lib
libowlsock.dll
libzmq-v90-mt-4_0_4.dll
libzmq-v90-mt-gd-4_0_4.dll
opencv_core220.dll
opencv_core220.lib
opencv_highgui220.dll
opencv_highgui220.lib
opencv_imgproc220.dll
opencv_imgproc220.lib
allegro-5.0.10-monolith-md.dll
ttime.dll
ttime.lib
tet.dll
tet.lib
wiiuse.lib
wiiuse.dll


git-lsl-clean-files
git-lsl-clean-dirs
clean-files-git.sh

# lsl directories to ignore all the time
Apps/BioSemi/DLL/
Apps/EmbarcaderoXE/shared/
Apps/MATLABViewer/liblsl-Matlab/
Apps/MQTT/lsl2mqtt/liblsl/
Apps/MQTT/lsl2mqtt/libmosquitto/
Apps/MQTT/mqtt2lsl/liblsl/
Apps/MQTT/mqtt2lsl/libmosquitto/
Apps/SMIEyetracker/allegro-5.0.10-msvc-9.0/
Apps/PupilPro/zmq/
external_libs/

#for now...
*liblsl-iOS*


# any autosave from emacs
*~

# strip all executables
*.exe
*.app/
*-mac
*-linux
*mex*

# unfortunately, in the case of linux, since there is no extension, we must name it
linux/PupilPro
linux/XDFBrowser
linux/LabRecorder

## C++.gitignore:

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll
*.so
*.dylib
*.lib
*.exp

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod


## C.gitignore
# Object files

*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo


# Debug files
*.dSYM/

## Cmake.gitignore

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

## Delphi.gitgnore:

# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
# Resource files are binaries containing manifest, project icon and version info.
# They can not be viewed as text or compared by diff-tools. Consider replacing them with .rc files.
#*.res
#
# Type library file (binary). In old Delphi versions it should be stored.
# Since Delphi 2009 it is produced from .ridl file and can safely be ignored.
#*.tlb
#
# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
#*.ddp
#
# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
#*.vlb
#
# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
#*.deployproj
#

# Delphi compiler-generated binaries (safe to delete)
*.bpl
*.bpi
*.dcp
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu


# Delphi autogenerated files (duplicated info)
# *.cfg
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
*.~*

# Castalia statistics file


## Java.gitignore:

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Objective-C.gitignore:

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/

## Python.gitignore:

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder


## Qt.gitignore:

# C++ objects and libs

*.slo
*.lo

*.la
*.lai


# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
#ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

## VisualStudio.gitignore:

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
# an exception to the 'debug' exclusion rule
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
# except for this one:
!/LSL/liblsl/*/*boost/**/debug
!/LSL/liblsl/*/*boost/**/x86
build*/
bld/
[Oo]bj/

# Visual Studo 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings 
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
*.[Cc]ache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file

# Packaging artifacts (debian packages)
*.deb


# exceptions:
!gUSBamp.lib
!gHIamp.lib

# stupid ds_store:
.DS_Store
