[submodule "Apps/App-AMTIForcePlate"]
	path = Apps/App-AMTIForcePlate
	url = git@github.com:labstreaminglayer/App-AMTIForcePlate.git
[submodule "Apps/App-Benchmarks"]
	path = Apps/App-Benchmarks
	url = git@github.com:labstreaminglayer/App-Benchmarks.git
[submodule "Apps/App-BioSemi"]
	path = Apps/App-BioSemi
	url = git@github.com:labstreaminglayer/App-BioSemi.git
[submodule "Apps/App-BrainProducts"]
	path = Apps/App-BrainProducts
	url = git@github.com:labstreaminglayer/App-BrainProducts.git
[submodule "Apps/App-Cognionics"]
	path = Apps/App-Cognionics
	url = git@github.com:labstreaminglayer/App-Cognionics.git
[submodule "Apps/App-EGIAmpServer"]
	path = Apps/App-EGIAmpServer
	url = git@github.com:labstreaminglayer/App-EGIAmpServer.git
[submodule "Apps/App-EmbarcaderoXE"]
	path = Apps/App-EmbarcaderoXE
	url = git@github.com:labstreaminglayer/App-EmbarcaderoXE.git
[submodule "Apps/App-Enobio"]
	path = Apps/App-Enobio
	url = git@github.com:labstreaminglayer/App-Enobio.git
[submodule "Apps/App-Examples"]
	path = Apps/App-Examples
	url = git@github.com:labstreaminglayer/App-Examples.git
[submodule "Apps/App-EyeLink"]
	path = Apps/App-EyeLink
	url = git@github.com:labstreaminglayer/App-EyeLink.git
[submodule "Apps/App-EyeTribe"]
	path = Apps/App-EyeTribe
	url = git@github.com:labstreaminglayer/App-EyeTribe.git
[submodule "Apps/App-GameController"]
	path = Apps/App-GameController
	url = git@github.com:labstreaminglayer/App-GameController.git
[submodule "Apps/App-Keyboard"]
	path = Apps/App-Keyboard
	url = git@github.com:labstreaminglayer/App-Keyboard.git
[submodule "Apps/App-KinectMocap"]
	path = Apps/App-KinectMocap
	url = git@github.com:labstreaminglayer/App-KinectMocap.git
[submodule "Apps/App-LabRecorder"]
	path = Apps/App-LabRecorder
	url = git@github.com:labstreaminglayer/App-LabRecorder.git
[submodule "Apps/App-MATLABViewer"]
	path = Apps/App-MATLABViewer
	url = git@github.com:labstreaminglayer/App-MATLABViewer.git
[submodule "Apps/App-MINDO"]
	path = Apps/App-MINDO
	url = git@github.com:labstreaminglayer/App-MINDO.git
[submodule "Apps/App-MQTT"]
	path = Apps/App-MQTT
	url = git@github.com:labstreaminglayer/App-MQTT.git
[submodule "Apps/App-Mouse"]
	path = Apps/App-Mouse
	url = git@github.com:labstreaminglayer/App-Mouse.git
[submodule "Apps/App-Neuroscan"]
	path = Apps/App-Neuroscan
	url = git@github.com:labstreaminglayer/App-Neuroscan.git
[submodule "Apps/App-OpenVR"]
	path = Apps/App-OpenVR
	url = git@github.com:labstreaminglayer/App-OpenVR.git
[submodule "Apps/App-OptiTrack"]
	path = Apps/App-OptiTrack
	url = git@github.com:labstreaminglayer/App-OptiTrack.git
[submodule "Apps/App-PhaseSpace"]
	path = Apps/App-PhaseSpace
	url = git@github.com:labstreaminglayer/App-PhaseSpace.git
[submodule "Apps/App-PupilLabs"]
	path = Apps/App-PupilLabs
	url = git@github.com:labstreaminglayer/App-PupilLabs.git
[submodule "Apps/App-ReceiveVideo"]
	path = Apps/App-ReceiveVideo
	url = git@github.com:labstreaminglayer/App-ReceiveVideo.git
[submodule "Apps/App-SMIEyetracker"]
	path = Apps/App-SMIEyetracker
	url = git@github.com:labstreaminglayer/App-SMIEyetracker.git
[submodule "Apps/App-SerialPort"]
	path = Apps/App-SerialPort
	url = git@github.com:labstreaminglayer/App-SerialPort.git
[submodule "Apps/App-StaticInfo"]
	path = Apps/App-StaticInfo
	url = git@github.com:labstreaminglayer/App-StaticInfo.git
[submodule "Apps/App-Tobii"]
	path = Apps/App-Tobii
	url = git@github.com:labstreaminglayer/App-Tobii.git
[submodule "Apps/App-Wiimote"]
	path = Apps/App-Wiimote
	url = git@github.com:labstreaminglayer/App-Wiimote.git
[submodule "Apps/App-XDFBrowser"]
	path = Apps/App-XDFBrowser
	url = git@github.com:labstreaminglayer/App-XDFBrowser.git
[submodule "Apps/App-eegoSports"]
	path = Apps/App-eegoSports
	url = git@github.com:labstreaminglayer/App-eegoSports.git
[submodule "Apps/App-emotiv"]
	path = Apps/App-emotiv
	url = git@github.com:labstreaminglayer/App-emotiv.git
[submodule "Apps/App-g.Tec"]
	path = Apps/App-g.Tec
	url = git@github.com:labstreaminglayer/App-g.Tec.git
[submodule "Apps/App-AudioCaptureWin"]
	path = Apps/App-AudioCaptureWin
	url = git@github.com:labstreaminglayer/App-AudioCaptureWin.git
[submodule "Apps/App-BAlert"]
	path = Apps/App-BAlert
	url = git@github.com:labstreaminglayer/App-BAlert.git
[submodule "LSL/liblsl-Android"]
	path = LSL/liblsl-Android
	url = git@github.com:labstreaminglayer/liblsl-Android
[submodule "LSL/liblsl-Csharp"]
	path = LSL/liblsl-Csharp
	url = git@github.com:labstreaminglayer/liblsl-Csharp
[submodule "LSL/liblsl-Generic"]
	path = LSL/liblsl-Generic
	url = git@github.com:labstreaminglayer/liblsl-Generic
[submodule "LSL/liblsl-Java"]
	path = LSL/liblsl-Java
	url = git@github.com:labstreaminglayer/liblsl-Java
[submodule "LSL/liblsl-matlab"]
	path = LSL/liblsl-matlab
	url = git@github.com:labstreaminglayer/liblsl-matlab
[submodule "LSL/liblsl-Python"]
	path = LSL/liblsl-Python
	url = git@github.com:labstreaminglayer/liblsl-Python
[submodule "LSL/liblsl"]
	path = LSL/liblsl
	url = git@github.com:labstreaminglayer/liblsl
